fastapi
uvicorn
pandas
numpy
scipy
requests
python-multipart
sqlalchemy
jinja2
fpdf2
fastapi-mail
python-dotenv
httpx
chromadb
sentence-transformers
langsmith
matplotlib
python-jose[cryptography]
passlib[bcrypt]
